# Imports and initialisation

In [1]:
import sqlite3
import pandas as pd
import requests
import json
conn = sqlite3.connect('./database.sqlite')
cur = conn.cursor()

# Goal scored

In [2]:
def goal_scored(division,season):
    if division not in ['E0','D1','D2']:
        print('The division argument is invalid. It must either be: \n D1 for Bundesliga, \n D2 for Bundesliga 2 \n E0 for Premier League')
    elif season < 1993 or season > 2016:
        print('Sorry, we only have data for seasons between 1993 and 2016!')
    else:
        conn = sqlite3.connect('./database.sqlite')
        cur = conn.cursor()
        query = """
                SELECT Div,HomeTeam, SUM(FTHG)+SUM(FTAG) as Goal_scored 
                FROM Matches 
                WHERE Season = {} 
                GROUP BY HomeTeam 
                ORDER BY Div, Goal_scored desc, HomeTeam""".format(season)
        df = pd.DataFrame(cur.execute(query).fetchall())
        df.columns = [x[0] for x in cur.description]
        g_s = sum(df[df['Div']==division]['Goal_scored'])
        return '{} goals were scored in {} during the {} season!'.format(g_s, division, season)

In [3]:
goal_scored('D1',1993)

'895 goals were scored in D1 during the 1993 season!'

# Wins vs Losses in 2011 season

In [79]:
query = """
        SELECT *,
            CASE FTR 
                WHEN 'A' THEN AwayTeam
                WHEN 'H' THEN HomeTeam
                ELSE Null
            END as 'Winner',
            CASE FTR 
                WHEN 'A' THEN HomeTeam
                WHEN 'H' THEN AwayTeam
                ELSE Null
            END as 'Loser'
        FROM Matches
        WHERE Season = 2011
        """
df = pd.DataFrame(cur.execute(query).fetchall())
df.columns = [x[0] for x in cur.description]
df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Winner,Loser
0,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,Bayern Munich,Nurnberg
1,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,Bayern Munich,Stuttgart
2,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,Bayern Munich,Wolfsburg
3,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,Mainz,Bayern Munich
4,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,None,None
...,...,...,...,...,...,...,...,...,...,...,...
987,44870,E0,2011,2012-05-13,Sunderland,Man United,0,1,A,Man United,Sunderland
988,44871,E0,2011,2012-05-13,Swansea,Liverpool,1,0,H,Swansea,Liverpool
989,44872,E0,2011,2012-05-13,Tottenham,Fulham,2,0,H,Tottenham,Fulham
990,44873,E0,2011,2012-05-13,West Brom,Arsenal,2,3,A,Arsenal,West Brom
991,44874,E0,2011,2012-05-13,Wigan,Wolves,3,2,H,Wigan,Wolves

# DarkSky API

In [6]:
query = """
        SELECT *
        FROM Matches
        JOIN Teams_in_Matches ON Matches.Match_ID = Teams_in_Matches.Match_ID
        JOIN Unique_Teams ON Teams_in_Matches.Unique_Team_ID = Unique_Teams.Unique_Team_ID
        JOIN Teams ON Unique_Teams.TeamName = Teams.TeamName
        WHERE Matches.Season = 2011
        """
# JOIN Teams_in_Matches ON Matches.Match_ID = Teams_in_Matches

df = pd.DataFrame(cur.execute(query).fetchall())
df.columns = [x[0] for x in cur.description]
df
# s11germ = s11[s11['Div']!='E0']

# apikey = dict(json.load(open('/home/antoine/.apikeys')))['Darksky']

# #Berlin
# lat = 52.5065133
# long = 13.1445703

# weather = []
# for date in s11germ['Date'][:5]:
    url='https://api.darksky.net/forecast/{}/{},{},{}T16:00:00'.format(apikey,lat,long,date)
#     response = requests.get(url)
#     weather.append(response.text)

# weather

#         JOIN Teams_in_Matches ON Matches.Match_ID = Teams_in_Matches.Match_ID
#         JOIN Unique_Teams ON Teams_in_Matches.Unique_Team_ID = Unique_Teams.Unique_Team_ID
#         JOIN Teams ON Unique_Teams.TeamName = Teams.TeamName
#         WHERE Matches.Season = 2011

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Match_ID,...,TeamName,Unique_Team_ID,Season,TeamName,KaderHome,AvgAgeHome,ForeignPlayersHome,OverallMarketValueHome,AvgMarketValueHome,StadiumCapacity
0,1138,D2,2011,2012-03-30,Aachen,Dresden,0,1,A,1138,...,Aachen,34,2005,Aachen,25,27,6,11690000,467000,47728
1,1106,D1,2011,2011-11-06,Augsburg,Bayern Munich,1,2,A,1106,...,Augsburg,15,2006,Augsburg,25,27,7,9100000,364000,47728
2,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,1092,...,Bayern Munich,1,2005,Bayern Munich,25,27,14,171500000,6860000,75000
3,1127,D2,2011,2012-03-02,Bochum,Dresden,0,2,A,1127,...,Bochum,28,2005,Bochum,31,25,16,17830000,575000,47728
4,1140,D2,2011,2011-10-22,Braunschweig,Dresden,0,2,A,1140,...,Braunschweig,23,2005,Braunschweig,25,25,3,4150000,166000,47728
5,1133,D2,2011,2011-07-15,Cottbus,Dresden,2,1,H,1133,...,Cottbus,31,2005,Cottbus,26,25,12,8550000,329000,47728
6,1108,D1,2011,2012-04-11,Dortmund,Bayern Munich,1,0,H,1108,...,Dortmund,2,2005,Dortmund,32,23,14,67700000,2120000,81359
7,1126,D2,2011,2011-12-18,Hansa Rostock,Dresden,2,2,D,1126,...,Dresden,37,2005,Dresden,33,26,13,10750000,326000,47728
8,1142,D2,2011,2011-08-26,Duisburg,Dresden,3,0,H,1142,...,Duisburg,32,2005,Duisburg,31,27,10,22500000,726000,31514
9,1128,D2,2011,2012-03-16,Ein Frankfurt,Dresden,3,0,H,1128,...,Ein Frankfurt,14,2005,Ein Frankfurt,31,25,12,25600000,826000,51500
10,1141,D2,2011,2012-04-21,Erzgebirge Aue,Dresden,1,1,D,1141,...,Erzgebirge Aue,39,2005,Erzgebirge Aue,25,27,8,8380000,335000,47728
11,1107,D1,2011,2012-05-05,FC Koln,Bayern Munich,1,4,A,1107,...,FC Koln,8,2005,FC Koln,36,26,16,48830000,1360000,49968
12,1131,D2,2011,2011-11-04,Fortuna Dusseldorf,Dresden,2,1,H,1131,...,Fortuna Dusseldorf,25,2009,Fortuna Dusseldorf,28,26,9,11850000,423000,47728
13,1135,D2,2011,2012-05-06,Frankfurt FSV,Dresden,1,1,D,1135,...,Frankfurt FSV,44,2008,Frankfurt FSV,32,27,12,9330000,291000,47728
14,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,1096,...,Freiburg,16,2005,Freiburg,25,24,14,15150000,606000,47728
15,1130,D2,2011,2011-08-06,Greuther Furth,Dresden,1,0,H,1130,...,Greuther Furth,24,2005,Greuther Furth,30,25,14,9900000,330000,47728
16,1098,D1,2011,2012-02-04,Hamburg,Bayern Munich,1,1,D,1098,...,Hamburg,12,2005,Hamburg,32,24,17,73600000,2300000,57376
17,1101,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H,1101,...,Hannover,18,2005,Hannover,29,25,12,44000000,1520000,49200
18,1126,D2,2011,2011-12-18,Hansa Rostock,Dresden,2,2,D,1126,...,Hansa Rostock,33,2005,Hansa Rostock,31,25,12,15800000,510000,47728
19,1105,D1,2011,2012-03-17,Hertha,Bayern Munich,0,6,A,1105,...,Hertha,10,2005,Hertha,30,25,19,69650000,2320000,74475
20,1102,D1,2011,2011-10-01,Hoffenheim,Bayern Munich,0,0,D,1102,...,Hoffenheim,9,2007,Hoffenheim,32,24,13,10350000,323000,47728
21,1132,D2,2011,2011-09-16,Ingolstadt,Dresden,4,2,H,1132,...,Ingolstadt,19,2008,Ingolstadt,29,26,5,6050000,209000,47728
22,1104,D1,2011,2011-08-27,Kaiserslautern,Bayern Munich,0,3,A,1104,...,Kaiserslautern,26,2005,Kaiserslautern,32,25,14,23230000,726000,49780
23,1139,D2,2011,2012-04-11,Karlsruhe,Dresden,2,0,H,1139,...,Karlsruhe,29,2005,Karlsruhe,27,25,7,10000000,370000,47728
24,1103,D1,2011,2012-03-03,Leverkusen,Bayern Munich,2,0,H,1103,...,Leverkusen,3,2005,Leverkusen,33,24,15,80630000,2440000,30210
25,1097,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H,1097,...,M'gladbach,6,2005,M'gladbach,32,26,21,50250000,1570000,54014
26,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,1095,...,Mainz,11,2005,Mainz,30,25,10,15200000,507000,34000
27,1137,D2,2011,2011-10-02,Munich 1860,Dresden,2,4,A,1137,...,Munich 1860,42,2005,Munich 1860,31,25,15,22480000,725000,47728
28,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,1092,...,Nurnberg,22,2005,Nurnberg,32,24,16,37250000,1160000,50000
29,1129,D2,2011,2012-02-17,Paderborn,Dresden,2,2,D,1129,...,Paderborn,21,2005,Paderborn,33,24,13,7530000,228000,47728
30,1100,D1,2011,2011-09-18,Schalke 04,Bayern Munich,0,2,A,1100,...,Schalke 04,5,2005,Schalke 04,32,24,15,87900000,2750000,62271
31,1134,D2,2011,2011-11-27,St Pauli,Dresden,3,1,H,1134,...,St Pauli,27,2007,St Pauli,29,25,9,6950000,240000,47728
32,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,1093,...,Stuttgart,17,2005,Stuttgart,30,26,13,79650000,2660000,60449
33,1136,D2,2011,2012-02-11,Union Berlin,Dresden,4,0,H,1136,...,Union Berlin,35,2009,Union Berlin,29,25,8,9480000,327000,47728
34,1099,D1,2011,2012-04-21,Werder Bremen,Bayern Munich,1,2,A,1099,...,Werder Bremen,13,2005,Werder Bremen,28,24,13,93800000,3350000,42100
35,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,1094,...,Wolfsburg,7,2005,Wolfsburg,32,27,22,66050000,2060000,30000

In [ ]:
weather

# MongoDB

In [ ]:
query = """
        SELECT TeamName
        FROM Unique_Teams
        """

inputMongoDB = pd.DataFrame(cur.execute(query).fetchall())
inputMongoDB.columns = [x[0] for x in cur.description]
inputMongoDB